<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>联金官方网站</title>
    <meta name="description" content="Arda is a Bitcoin and Cryptocurrency ICO Template by tempload.">
    <meta name="keywords" content="bitcoin, ethereum, monero, ico, token, free token, btc, eth">
    <meta name="author" content="tempload">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.ico">

    <!-- Bootstrap & Plugins CSS -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>

    <link rel="stylesheet" href="{{=URL('static','css/font-awesome.min.css')}}"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{=URL('static','css/dark.css')}}"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script type="text/javascript" async="" src="./Arda/analytics.js"></script><script async="" src="./Arda/js"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-118135390-1');
	</script> -->
    <!--&lt;!&ndash;字体连接&ndash;&gt;-->
    <!--<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>-->
    <!--<script type="text/javascript">-->
    <!--$youziku.load("body", "a7aa8fa6978147e78a6f3464ff358087", "jdzhonyuanjian");-->
    <!--/*$youziku.load("#id1,.class1,h1", "a7aa8fa6978147e78a6f3464ff358087", "jdzhonyuanjian");*/-->
    <!--/*．．．*/-->
    <!--$youziku.draw();-->
    <!--</script>-->
</head>

<body>
<div class="parallax-mirror" style="z-index: 1; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 668.172px, 0px); visibility: hidden; height: 440px; width: 1280px;"><img class="parallax-slider" src="./Arda/parallax.jpg" style="transform: translate3d(0px, -645.538px, 0px); position: absolute; height: 854px; width: 1280px; max-width: none;"></div>

<div class="loading-wrapper" style="visibility: hidden; display: none; opacity: 0;">
    <div class="loading">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="./" class="logo">
                        <!-- <img src="./Arda/transparent-logo-dark.svg" class="light-logo" alt="Arda ICO" style="display: block;">
                        <img src="./Arda/white-logo-dark.svg" class="dark-logo" alt="Arda ICO" style="display: none;"> -->
                        <img src="./Arda/logo.png" height="32" class="light-logo" alt="Arda ICO" style="display: block;">
                        <img src="./Arda/logo.png" height="32" class="dark-logo" alt="Arda ICO" style="display: none;">
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Lang Start ***** -->
                    <!-- <div class="lang">
                        <div class="selected">
                            <img src="./Arda/en.png" alt="">
                            <i class="fa fa-angle-down"></i>
                        </div>
                        <ul class="flag-list" style="display: none;">
                            <li>
                                <a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#">
                                    <img src="./Arda/en.png" alt=""><span>EN</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#">
                                    <img src="./Arda/ru.png" alt=""><span>RU</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#">
                                    <img src="./Arda/br.png" alt=""><span>BR</span>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                    <!-- ***** Lang End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#what-is-ico">联金介绍</a></li>
                        <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#token-sale">密钥发放</a></li>
                        <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#roadmap">项目进度</a></li>
                        <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#apps">APP下载</a></li>
                        <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#team">团队介绍</a></li>
                        <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#faq">常见问题</a></li>
                        <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#contact">联系我们</a></li>
                        <!-- <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#" class="btn-nav-box">SIGN UP</a></li> -->
                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->


{{block center}}
{{include}}
{{end}}
{{=response.toolbar() if configuration.get('app.toolbar') else ''}}



<!-- ***** Contact & Footer Start ***** -->
<footer id="contact">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12" style="text-align: center;margin:0 auto;">
                    <div class="contact">
                        <h3 class="section-title">Get In Touch</h3>
                        <p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
                        <ul class="list">
                            <li><i class="fa fa-envelope-o"></i><a href="mailto:support@myicosite.com">support@myicosite.com</a></li>
                            <li><i class="fa fa-phone"></i><span>+44 0123 4567</span></li>
                            <li><i class="fa fa-paper-plane-o"></i><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#">Join us on Telegram</a></li>
                        </ul>
                        <ul class="social">
                            <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="http://demo.tempload.com/arda-1-3/dark-index-4.html#"><i class="fa fa-github-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="offset-lg-1 offset-md-1 col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <h3 class="section-title">Say Something</h3>
                        <div class="form-element">
                            <input type="text" placeholder="Name, surname">
                        </div>
                        <div class="form-element">
                            <input type="email" placeholder="E-Mail">
                        </div>
                        <div class="form-element">
                            <textarea placeholder="Message"></textarea>
                        </div>
                        <div class="form-element">
                            <button class="btn-secondary-box">Submit</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright" style="text-align: center;">2018 © Arda - Bitcoin and Cryptocurrency ICO Template - theme by Tempload</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Contact & Footer End ***** -->


<!-- jQuery -->
<script src="./Arda/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="./Arda/popper.js"></script>
<script src="./Arda/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="./Arda/particles.min.js"></script>
<script src="./Arda/scrollreveal.min.js"></script>
<script src="./Arda/jquery.downCount.js"></script>
<script src="./Arda/parallax.min.js"></script>

<!-- Global Init -->
<script src="./Arda/particle-dark.js"></script>
<script src="./Arda/custom.js"></script>

</body>

</html>